{
  "presets": [
    "env",
    "stage-2"
  ],
  "plugins": [
    "transform-runtime",
    "transform-export-extensions",
    ["module-resolver", {
      "root": ["./src/"],
      "alias": {

      },
      "extensions": [".js", ".jsx", ".scss", ".json"]
    }]
  ]
}
