.logo {
  position: absolute;
  top: 20%;
  left: 50%;

  width: 600px;
  height: 180px;

  margin-left: -300px;

  background-size: 600px auto;
  background-image: url('../../../../../assets/web/minecraft.png');
}
