.preloader {
  &__text {
    color: white;
    font-size: 26px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}


$bar-height: 10px;

.bar {
  width: 100%;
  height: $bar-height;
  background: red;
  position: relative;
  margin-top: 100px;

  &__foreground {
    width: 100%;
    height: $bar-height;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#26481b+0,388224+10,4a9d35+30,4a9d35+57,326823+88,326823+88,26481b+100 */
    background: #26481b; /* Old browsers */
    background: -moz-linear-gradient(top, #26481b 0%, #388224 10%, #4a9d35 30%, #4a9d35 57%, #326823 88%, #326823 88%, #26481b 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #26481b 0%,#388224 10%,#4a9d35 30%,#4a9d35 57%,#326823 88%,#326823 88%,#26481b 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #26481b 0%,#388224 10%,#4a9d35 30%,#4a9d35 57%,#326823 88%,#326823 88%,#26481b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#26481b', endColorstr='#26481b',GradientType=0 ); /* IE6-9 */
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
  }

  &__background {
    width: 100%;
    height: $bar-height;
    background: #0b0b0b;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }

}
